.side-bar {
    display:flex;
    width:15%;
}
#main {
    display:flex;
    justify-content: flex-start;
}

.title {
    color:white;
    text-align:center;
}
.resources {
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
}
