#logoutbutton {
  margin: 0px;
}

.main-nav {
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
  height: 6rem;
  margin-top: -22px;
}

.nav-child {
  margin: 1rem;
  text-decoration: underline none;
  color: rgb(192, 186, 186);
}
a,
.nav-child,
.nav-item,
.dropdown {
  padding: 0;
}

a {
  transition: transform 1.5s;
}

a:link {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
a:visited {
  text-decoration: none;
  color: rgb(245, 243, 243);
}
a:hover {
  text-decoration: none;
  transition: transform 1s ease;

  /* transform: scale(1.2); */
  color: #fbfbfbda;
}
a:active {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.nav-link:link {
  color: rgb(255, 255, 255);
}
